body {
	background: linear-gradient(90deg, #9af06e, white);
	
}
div.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:90%;
	margin:auto;
}
div.container3{
	margin: auto;
	width : 65%;
	align-items: center;
	
}
div.containerserv{
	margin: auto;
	width : 90%;
	align-items: center;
	
}
button{
	font-family: 'Exo 2', sans-serif;
}
div.container1{
	margin: 0px 50px 0px 80px;
    width: 50%;
	align-items: center;
	
}
td{
	text-align: center;
}
div.container2{
	width : 45%;

	margin: 0px 40px 0px 40px;
	align-self: flex-start;
}
div.containersingle{
	width : 50%;
	margin:auto;
}
.Namep::first-letter{
	color: blueviolet;	
}

.Namedr::first-letter{
	color: blueviolet;	
}

.Named::first-letter{
	color: blueviolet;	
}
p.Name {
	font-family: 'Exo 2', sans-serif;
	font-size: 60px;
}
p.Namep{
	font-size: 20px;
}
.Namep {
	font-family: 'Cinzel', serif;
	font-size: 40px;
}
.Namedr{
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
}
.Named {
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
}
h2::first-letter{
	color: blueviolet;
}
p::first-letter {
	color: blueviolet;
}

.enl{
	width: 400px;
	align-items: center;	
}

.glow-on-hover {
	font-size: 20px;
	width: 220px;
	height: 50px;
	background-color: antiquewhite;
	border: none;
	background: #111;
	outline: none;
	color: black;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	background-color: black;
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
    border-radius: 10px;
	
}

.glow-on-hover:active {
	color: #000;
}

.glow-on-hover:active:after {
	background: transparent;
	background-color: antiquewhite;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	background-color: antiquewhite;
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 10px;
	
}
.glow-on-hover:hover{
	transform: scale(1.2);
	transition: 1s;
	background-color: antiquewhite;
}
.radio{
	width:15px;
	height:15px;
	color:blueviolet;
}


.radio::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.radio:checked::before {
  transform: scale(1.2);
}
.radio:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}